body, p, h1, h2, h3, h4, h5, h6, li  {font-family : "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif; }

#header, #leftCol, #footer, #printControls, #predictionresults, #progressreport, #results h3, #downloads, .ui-dialog {display:none;}

.graph {
   border-bottom: 2px solid #AAF;
   padding: 8px 10px 8px 0;
}
