body, p, h1, h2, h3, h4, h5, h6, li  {font-family : "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif; }

#header, #leftCol, #footer, #printControls, #predictionresults, #status, #results h3, div[is-open="status.open"], .panel-heading {display:none;}

#content{width:100%; border:none;}

.panel{border:none;}

.graph {
   border-bottom: 2px solid #AAF;
   padding: 8px 10px 8px 0;
}
