<div>
  <h2>Graph Controls</h2>

  <ul>
    <li>Click and drag on a graph to pan from left to right</li>
    <li>Double click on a graph to zoom into that point</li>
    <li>Hold shift and double click on a graph to zoom out</li>
  </ul>

  <label>Zoom:
    <input type="number"
	   ng-model="gc.basesPerGraph"
	   ng-change="ctrl.redraw(true)"/> bases per graph
  </label>
  <br/>
  <label>Color-blind friendly:
    <input type="checkbox"
	   ng-model="gc.colorBlindFriendly" /></label>
  <br/>

  <div ng-show="graphConfig.visible">
    Showing bases {{graphConfig.visible.startBase}} - {{graphConfig.visible.endBase}}
  </div>
  <h3>Tracks</h3>
  <div ng-repeat="t in gc.tracks">
    <label><input ng-model="t.active" type="checkbox" />{{t.text}}</label>
  </div>
</div>
