<div>
  <h2>Graph Controls</h2>

  <ul>
    <li>Click and drag on a graph to pan from left to right</li>
    <li>Double click on a graph to zoom into that point</li>
    <li>Hold shift and double click on a graph to zoom out</li>
  </ul>
  <form name="configForm">
    <label>Zoom:
      <input type="number" name="basesPerGraph"
             min="100" required
             ng-model-options="{debounce: 1000}"
	     ng-model="gc.basesPerGraph"/> bases per graph
    </label>
    <div class="error" ng-messages="configForm.basesPerGraph.$error">
      <div ng-message="min">Cannot zoom in that far.</div>
      <div ng-message="required">Must specify a zoom level</div>
    </div>
  </form>
  <br/>
  <label>Color-blind friendly:
    <input type="checkbox"
	   ng-model="gc.colorBlindFriendly" /></label>
  <br/>

  <h3>Tracks</h3>
  <div ng-repeat="t in gc.tracks">
    <label><input ng-model="t.active" type="checkbox" />{{t.text}}</label>
  </div>
</div>
