<div>
  <h2>Graph Controls</h2>

  <ul>
    <li>Click and drag on a graph to pan from left to right</li>
    <li>Double click on a graph to zoom into that point</li>
  </ul>

  <label>Zoom: <input type="number" ng-model="basesPerGraph" 
		      ng-change="changeZoom(basesPerGraph)"/> bases per graph</label> 
  <br/>
  <label>Color-blind friendly: <input type="checkbox" ng-model="colorBlindFriendly"
				      ng-change="GraphDealer.setColors(colorBlindFriendly)" /></label>
  <br/>

  Showing bases {{range[0]}} - {{range[1]}}
  <div>
  <button style="float:left;" ng-disabled="!GraphDealer.hasPreviousPage()"
	  ng-click="GraphDealer.previousPage()">
    Previous Page</button>
  <button style="float:right;" ng-disabled="!GraphDealer.hasNextPage()"
	  ng-click="GraphDealer.nextPage()">
    Next Page</button>
  <div style="clear:both;" >  </div>
  </div>
</div>
