<div>
  Extract {{extract.name}} : {{extract.start}}-{{extract.end}} {{extract.complement ? "(complement)" : "" }}
  <br>
    Phase: {{extract.phase}}, Approximate: {{extract.approximate}}
  <hr/>
  <a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&PAGE_TYPE=BlastSearch&BLAST_SPEC=&LINK_LOC=blasttab&QUERY={{query}}&JOB_TITLE={{extract.name}}" target="_blank">nBLAST this Sequence</a>
  |
  <a ng-if="ddnaP" href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&BLAST_SPEC=&LINK_LOC=blasttab&QUERY={{ddnaP}}&JOB_TITLE={{extract.name}}" target="_blank">pBLAST this Sequence</a>
  <hr>
  DNA:<br >
  {{ddna}}
  <hr>
  <div ng-if="extract.complement && ddnaRC">
  DNA (reverse complement):<br >
  {{ddnaRC}}
  <hr>
  </div>
  <div ng-if="ddnaP">
  Amino Acid Sequence<span ng-if="extract.complement">(reverse complement)</span>:<br >
  {{ddnaP}}
  </div>
</div>
