<div>
  <div id="printControls" >

    <a href="#" ng-click="pageCtrl.print()" class="btn md-text"
       title="Render all graph rows on this page for printing (this takes a minute).">
      <span class="ui-icon ui-icon-print"></span>
      Print
    </a> 
    <span ng-if="printCounter">
      <img ng-src="{{STATIC_BASE_URL}}images/spinner.gif" class="spinner"/>
      waiting on {{printCounter}} rows to finish
    </span>

    &nbsp;<a href="#"
             title="Have the server generate a PDF for printing (this takes a minute)."
             ng-click="pageCtrl.requestPDF()"
             class="btn md-text">Request PDF</a>&nbsp;
  </div>
  <h2 ng-model="gc.first_page_title" contenteditable strip-br="true"></h2>
  <div id="progressreport">
    <h3> Status <img ng-src="{{STATIC_BASE_URL}}images/mail-envelope-closed-16.png" title="Email a report about this run to Acceleration" ng-click="email()"></h3>
    <npact-msg-pane></npact-msg-pane>
  </div>

  <div id="results" >
    <div jq-accordion active="false">
      <h3>Downloads</h3>
      <div id="downloads" style="display:none;" ng-controller="DownloadsCtrl as dc">
        <div class="ui-state-highlight ui-corner-all" >
          <p>
            <a ng-if="pdf" href="{{FETCH_URL}}{{pdf}}" target="_blank">Download PDF</a>
          </p>
          <div ng-show="predictionFiles.length > 0">
            <p>Results are now ready:
              <ul id="files">
                <li ng-repeat="f in predictionFiles">
                  <a href="{{FETCH_URL}}{{f}}" target="_blank">{{f}}</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div jq-accordion active="0">
      <h3>Graphs</h3>
      <div npact-graph-container id="graphcontainer"></div>
    </div>
  </div>
  <div id="qtiptarget" style="display:none;"></div>
</div>
