<div>
  <div id="printControls" ng-click="pageCtrl.print()">
    <span class="ui-icon ui-icon-print"></span>
    Print
    <span ng-if="printCounter">
      <img ng-src="{{STATIC_BASE_URL}}images/spinner.gif" class="spinner"/>
      Waiting on {{printCounter}}</span>
  </div>
  <h2 ng-model="gc.first_page_title" contenteditable strip-br="true"></h2>
  <div id="progressreport" ng-show="false">
    <!-- This needs to display messages from MessageBus -->
    <h3> Status </h3>
    <div id="computationrunning">
      <div class=" ui-corner-all" ng-class="{'ui-state-highlight': !error,
                     'ui-state-error': error}">
        <img ng-src="{{STATIC_BASE_URL}}images/spinner.gif" class="spinner"/>
        <p>
          N-PACT is: <em ng-bind="status">Initializing</em>
        </p>
      </div>
    </div>
  </div>

  <div id="results">
    <h3>Results </h3>
    <div>
      <div npact-graph-container></div>
      <h4>Downloads</h4>

      <div id="predictionresults" class="ui-state-highlight ui-corner-all"
           ng-show="miscFiles.length > 0">
        <div class="ui-icon ui-icon-info"></div>
        <p>
          The prediction results are now ready:
          <ul id="files">
            <li ng-repeat="f in miscFiles">
              <a href="{{FETCH_URL}}{{f}}" target="_blank">{{f}}</a>
            </li>
        </p>
      </div>

      <div ng-if="email">
        <h4>Email results</h4>
        <p>An email link to the results will be sent to <code>{{email}}</code>. You may leave this page at any time and return via that link.</p>
      </div>
    </div>
  </div>



</div>
