build
/dist
*~
*#
*.fasl
.git
bin
obj
*.pyc
ve
.#*
*.egg-info
.ropeproject
a.out
_generated_media_names.py
_generated_media
logs
uploads
development-bundle
webroot
/npactweb/.tmp/templates.js
/npactweb/node_modules
/npactweb/npactweb/static/bower_components
/npactweb/jshint.xml
/npactweb/test-results.xml
/npactflask/.tmp/templates.js
/npactflask/node_modules
/npactflask/npactflask/static/bower_components
/npactflask/jshint.xml
/npactflask/test-results.xml
/pytest.xml
/.projectile
/TAGS
