lib/path.py-2.4.1.zip
lib/flup-1.0.2.tar.gz
lib/setproctitle-1.1.8.tar.gz
lib/lockfile-0.9.1.tar.gz
lib/python-daemon-1.5.5.tar.gz
#lib/numpy-1.6.1.tar.gz
lib/biopython-1.63-extradtds.tar.gz
flask==0.10
Flask-Mail
pytz
-e pynpact/
-e taskqueue/
-e npactflask/
