{% extends "base.html" %}
{% load media %}
{% block title %}Run N-P.A.C.T.{% endblock %}

{% block addScript %}
{% include_media 'jquery.js' %}
<script type="text/javascript">
  $(function(){
    $('button').button()
    $("tbody input + br").remove();
    $("tbody tr").each(function() {
       $("input,select", this).qtip({
          content: $(".helptext", this),
          show: { event: "focus mouseenter",
                  solo: true},
          hide: { event: 'unfocus' }

       });
    });
    // Setup the significance trigger 
    $('#id_skip_prediction')
     .change(function (event) {
               var checked = $(this).is(':checked');
               console.log('skip prediction box clicked.', checked);
               if(checked)
                 $('#id_significance').attr('disabled','true');
               else
                 $('#id_significance').removeAttr('disabled');
              });
  });
</script>
<style>
  #content ul li { display: inline; margin: 0 8px; }
  #content ul { list-style-type: none; margin:4px 0;}
</style>
{% endblock %}

{%block content %}
<div class="contentPadding">
  <h2>Selected Genome Info</h2>
  <dl>
{% for key, value in def_list_items %}
    <dt>{{ key|title }}</dt><dd>{{ value }}</dd>
{% endfor %}
  </dl>

  {% if not parse_data.id %}
  <p>The file does not appear to be in <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">GenBank format</a>. You may attempt to procede but results are unpredicatble.</p>
  {% endif %}
  <h2>N-Profile Analysis Options</h2>
  <p>From here you can customize the options on an N-Profile analysis.</p>

<div id="form-container">
  <form method="POST">
    {% csrf_token %} 
    <table id="n-config-options">
    {{ form.as_table }}
    </table>
    <p><button type="submit">Get Analysis!</button></p>
  </form>
  </div>
</div>
{%endblock content %}
