{% extends "base.html" %}
{% load media %}
{% load static %}
{% block title %}N-PACT - N-Profile Analysis Computational Tool{% endblock %}

{% block addScript %}
<base href="{{base_href}}">

{% include_media 'jquery.js' %}

<script type="text/javascript" src="{{STATIC_URL}}bower_components/kineticjs/kinetic.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/lodash/lodash.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/qtip2/jquery.qtip.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/rtree/dist/rtree.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bower_components/ngSticky/dist/sticky.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/constants.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/utils.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/messages/message.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/nprofiler.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/readers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/page.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/calculator.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/grapher.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/graph.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graphs/config.js"></script>

{% endblock addScript %}
{% block content %}

<div id="progress" class="contentPadding">
  <div npact-graph-page ></div>

  <script type="text/javascript">
    angular.module('npact')
      .constant('STATUS_BASE_URL', '{{status_base}}')
      .constant('KICKSTART_BASE_URL', '{{kickstart_base}}')
      .constant('FETCH_URL', '{{fetch_base}}')
      .constant('ACGT_GAMMA_FILE_LIST_URL', '{{acgt_gamma_base}}')
      .constant('STATIC_BASE_URL', '{{STATIC_URL}}');
  </script>
</div>

{%endblock content %}

{%block sidebar %}
<div npact-graph-config sticky offset="25" sticky-class="stuck"></div>
{%endblock sidebar %}
