{% extends "base.html" %}
{% load media %}
{% block title %}NPACT - N-Profile Analysis Computational Tool{% endblock %}

{% block addScript %}
{% include_media 'jquery.js' %}
<script type="text/javascript">
  $(function(){
    $('button').button()
    if( $("#accordion > *").length > 1) {
      $("#accordion").accordion({ header: "h3", clearStyle: false,
                                  autoHeight:false,
                                  active: "h3.active"});
    }

  });
</script>
{% endblock %}

{%block content %}
<div class="contentPadding">
  <h2>NPACT - N-Profile Analysis Computational Tool (Prokaryotes)</h2>
  <p>For quantitative frame-analysis and <b> prokaryotic gene </b> prediction from a sequence file in the Genbank format (see a <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">sample record</a> or the <a href="{% url about %}">About</a> page).</p>
  <p>After seleting a sequence file, "Start Analysis!" will result in a graphical output showing sequence compositional contrasts for frame analysis, gene annotation (when available), and, by default, regions of non-random compositional contrast (hits), gene predictions, and corresponding output text files. Parameters can be modified using "Configure Analysis", which leads to a page where the user can choose which nucleotide type(s) to represent for frame analysis, start and end position of the analysis, and level of significance of high scoring segments (hits). From this page the user can also disable identification of high-scoring segments and new gene predictions altogether, in which case N-PACT will only produce the graph of frame-specific nucleotide content and positions of genes annotated in the input file. </p>

  <p>The NPACT server can process uploaded files, files fetched from a url, or
    genbank data pasted directly in. Only one of the  following is neccessary</p>

  <input type="hidden" name="selected" value="" id="selected"/>
  <form method="post" action="{% url start %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div id="accordion">
      {% for field in form %}
      <div
           >
        <h3 {% if field.html_name == form.active %}class="active"{% endif %}><a name="#"> {{ field.label_tag }} </a></h3>
        <div>
          {{ field.errors }}
          {{ field }}
          {% if field.html_name == 'entrez_search_term' %}
          {% include "start/EntrezSearchForm.html" %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="Start" type="submit" name="action" value="run" 
            title="Get the analysis results based on default configuration.">
      Start Analysis!
    </button>
    <button class="Start" type="submit" name="action" value="config" 
            title="Configure the analysis before running.">
      Configure Analysis
    </button>
  </form>
  <br/>
  <p>
    <a href="">Start Over</a>
  </p>
</div>
{%endblock content %}
