{% load media %}
{% if form.session and form.session.result_count > 0 %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Date Created/ Updated</th>
      <th>RefSeqId</th>
  </thead>
  <tbody>
    {% with form.data.entrez_search_term|urlencode as entrez_search_term %}
    {% for summary in form.session.summarize %}
    <tr>
      <td>
        <a href="{% url efetch summary.Id %}?entrez_search_term={{entrez_search_term}}"> 
          {{summary.Title}}
        </a>
      </td>
      <td>{{summary.Length}}</td>
      <td>{{summary.CreateDate}}<br/>
          {{summary.UpdateDate}}</td>
      <td>
        <a href="http://www.ncbi.nlm.nih.gov/nuccore/{{summary.Caption}}">{{summary.Caption}}
          <!-- <img src="{% media_url "images/ncbi.gif" %}" height="12" width="25"></a> -->
      </td>
    </tr>
    {% endfor %}
    {% endwith %}
  </tbody>
</table>
{% endif %}
