<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}University of Florida Genetics Institute{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" media="screen" href="_style/css/basic.css" />
		<link rel="stylesheet" type="text/css" media="print" href="_style/css/print.css" />
		<style type="text/css" media="screen">
			@import "_style/css/style.css";
            #secHeader span{background: url(_style/images/header1.jpg)}
		</style>

</head>
	<body>
		{% include "_includes/header.html" %}
		<div id="mainContainer">
			<div id="content">
                          {%block content %}
                          {%endblock content %}
			</div>
			<div id="related">
				<h3>Related Sites:</h3>
				<h4>Genetics at UF</h4>
				<ul>
                                  <li><a href="http://genome.ufl.edu/pages/index.html">genome.ufl.edu</a></li>
                                  <li><a href="http://www.ufgi.ufl.edu/">Genetics Institute at UF</a></li>
				</ul>
				<h4>Page Related Header</h4>
				<ul>
					<li><a href="#">Link</a>,</li>
					<li><a href="#">Link</a>,</li>
					<li><a href="#">Link</a>,</li>
					<li><a href="#">Link</a></li>
				</ul>
                                {% include "_includes/search.html" %}
			</div>
			<div id="priNav">
				{% include "_includes/priNav.html" %}
            </div>
			{% include "_includes/footer.html"%}
			</div>
	</body>
</html>
