{% extends "base.html" %}
{% load media %}
{% block title %}Run S-P.A.T.{% endblock %}

{% block addScript %}
{% include_media 'jquery.js' %}
<script type="text/javascript">
  $(function(){
    $("#accordion").accordion({ header: "h4", clearStyle: false,
                                active: {{ active }}
//        change: function(event,ui) { $('#selected')[0].value = ui.newHeader.text(); }
    });
    $('button').button()
  });
</script>
{% endblock %}

{%block content %}
<div class="contentPadding">
  <h2>Run the S-Profile Analysis Tool</h2>
  <p>From here you can run an S-Profile analysis. The process starts with a Genbank file (see a <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">sample record</a>).</p>

  <p>SPAT can process uploaded files, files fetched from a url, or
    genbank data pasted directly in. Only one of the  following is neccessary</p>


    <input type="hidden" name="selected" value="" id="selected"/>
    <h3>GenBank file from:</h3>
    <div id="accordion">
      {% for form in forms %}
      <div>
        <h4><a name="#">{{ form.title|title }}</a></h4>
        {% if form.is_multipart %}
        <form enctype="multipart/form-data" method="post" action="start">
        {% else %}
        <form method="post" action="start">
        {% endif %}
          {% csrf_token %} 
          <input type="hidden" name="active" value="{{ forloop.counter0}}">
          <div>
            {{ form.as_p }}
          </div>
          <br>
          <button>Start Analysis!</button>
        </form>
      </div>
      {% endfor %}
    </div>
    <br/>
  </form>
<!--
  <p><a href="/library">Browse the library of existing analyses</a></p>
-->
</div>
{%endblock content %}
