{% extends "base.html" %}
{% load media %}
{% block title %}Run S-P.A.T.{% endblock %}

{% block addScript %}
{% include_media 'jquery.js' %}
<script type="text/javascript">
  $(function(){
    if( $("#accordion > *").length > 1) {
      $("#accordion").accordion({ header: "h3", clearStyle: false,
  //    autoHeight:false,
  //        change: function(event,ui) { $('#selected')[0].value = ui.newHeader.text(); }
      });
    }
    $('button').button()
  });
</script>
{% endblock %}

{%block content %}
<div class="contentPadding">
  <h2>Run the S-Profile Analysis Tool</h2>
  <p>From here you can run an S-Profile analysis. The process starts with a Genbank file (see a <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">sample record</a>).</p>

  <p>SPAT can process uploaded files, files fetched from a url, or
    genbank data pasted directly in. Only one of the  following is neccessary</p>


    <input type="hidden" name="selected" value="" id="selected"/>
    <div id="accordion">
      {% for form in forms %}
      {% include form.template|default:"start/form.html" %}
      {% endfor %}
    </div>
    <br/>
    <p>
      <a href="">Start Over</a>
    </p>
<!--
  <p><a href="/library">Browse the library of existing analyses</a></p>
-->
</div>
{%endblock content %}
