{% extends "base.html" %}
{% load media %}
{% block title %}Run S-P.A.T.{% endblock %}

{% block addScript %}
{% include_media 'jquery.js' %}
<script type="text/javascript">
  $(function(){
    $("#accordion").accordion({ header: "h4" });
  });
</script>
{% endblock %}

{%block content %}
<div class="contentPadding">
  <h2>Run the S-Profile Analysis Tool</h2>
  <p>From here you can run an S-Profile analysis. The process starts with a Genbank file (see a <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">sample record</a>).</p>

  <p>SPAT can process uploaded files, files fetched from a url, or
    genbank data pasted directly in. Only one of the  following is neccessary</p>


  <form action="start" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    <h3>GenBank file from:</h3>
    <div id="accordion">
      <div>
        <h4><a name="#">Upload File</a></h4>
        <div>
          {{ form.as_p }}
        </div>
      </div>
      <div>
        <h4><a name="#">From URL</a></h4>
        <div>
          {{ form.as_p }}
        </div>
      </div>
    </div>
    <p><button>Start Analysis!</button></p>
  </form>

  <p><a href="/library">Browse the library of existing analyses</a></p>
</div>
{%endblock content %}
