<div id="configContainer" ng-controller="TooltipCtrl">
  <form name="configForm">
    <h2>Graph Controls <span tooltip-template="'helpTool'" tooltip-placement="right" tooltip-class="customClass" tooltip-append-to-body="true">?</span></h2>
    <div><a href="?" class="btn md-text" target="_self">Reset to defaults</a>
    </div>

    <script type="text/ng-template" id="helpTool"><p>To pan left or right you can either use the <b>left and right arrow keys</b> or <b>click and drag</b> on graph</p><p><b>Double click</b> on a graph to zoom into that point. Hold <b>shift and double click</b> on a graph to zoom out.</p>
    </script>

    <div>
      <label>Zoom:
        <input type="number" name="basesPerGraph"
               style="width:5em;"
               min="100" required
               ng-model="gc.basesPerGraph"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
        bases/line
      </label>
      <div class="error" ng-messages="configForm.basesPerGraph.$error">
        <div ng-message="min">Cannot zoom in that far.</div>
        <div ng-message="required">Must specify a zoom level</div>
      </div>
    </div>
    <div>
      <label>Range:</label>
      <input type="number" name="startBase" style="width:6em;"
             min="0" max="{{gc.length}}"
             ng-model="gc.startBase"
             ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
      <span class="sm-text">to</span>
      <input type="number" name="endBase" style="width:6em;"
             min="0" max="{{gc.length}}"
             ng-model="gc.endBase"
             ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
    </div>
    <div>
      <label>Goto:
        <input type="number" name="gotoBase" style="width:6em;"
               min="0" max="{{gc.length}}"
               ng-model="gc.gotoBase"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
      </label>
    </div>
    <div>
      <label>Find ORF by name:<br/>
        <input type="text" name="findORF" style="width:9em;"
               ng-model="gc.findORF"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1200, 'blur': 0 } }"
               npact-orf-finder
               >
      </label>
      <span ng-show="results && results.length > 0">
      <button ng-click="resultsIndex = resultsIndex - 1" class="arrowbutton">&lt;</button>
      <button ng-click="resultsIndex = resultsIndex + 1" class="arrowbutton">&gt;</button>
      {{resultsIndex + 1}} of {{results.length}}
      </span>
      <span ng-show="results && results.length == 0">
        No results found
      </span>
    </div>
    <div>
      <label>
        <input type="checkbox" ng-model="gc.colorBlindFriendly"
               ng-change="gc.cookiePersist()" />
        Color-blind friendly
      </label>
    </div>

      <h3>Tracks</h3>
      <div>
        <div ng-repeat="t in gc.tracks track by t.name">
          <label class="track-label"><input ng-model="t.active" type="checkbox" /> {{t.name}}</label>
        </div>
      </div>

      <h3>N-Profile Options</h3>
      <div class="nprofile-options">
        <span>Base types profiled:</span><br>
        <checkbox-list id="profile-options" ng-model="gc.nucleotides"
                       title="nucleotide type(s) represented in frame analysis"
                       options="['A', 'C', 'G', 'T']">
      </div>
      <h3>Prediction Options</h3>
      <div>
        <label>Prediction significance
        <select ng-model="gc.significance"
                ng-options="x for x in [0.01, 0.001, 0.0001]"
                title="significance threshold for high scoring segments (hits)"
                >
        </select>
        </label>
      </div>
  </form>
</div>
