<div id="resultsPage" class="contentPadding">
  <div id="printControls" >
    <button class="btn btn-form" action="#" ng-click="pageCtrl.print()"
            title="Render all graph rows on this page for printing (this takes a minute).">
      Print <span class="glyphicon glyphicon-print"></span>
    </button>
    <span ng-if="printCounter">
      <img ng-src="{{STATIC_BASE_URL}}images/spinner.gif" class="spinner"/>
      waiting on {{printCounter}} rows to finish
    </span>

    &nbsp;<a href="#" ng-click="pageCtrl.requestPDF()"
             title="Have the server generate a PDF for printing (this takes a minute)."
             class="btn md-text btn-form">Request PDF</a>&nbsp;
  </div>
  <h2 ng-model="gc.first_page_title" contenteditable strip-br="true"></h2>
  <div id="status">
    <h3> Status
      <!-- This isn't working right now
           <a title="Email a report about this run to Acceleration" ng-click="email()">
             <span class="glyphicon glyphicon-envelope" style="font-size: 16px;"></span></a>
           -->
    </h3>
    <npact-msg-pane></npact-msg-pane>
  </div>
  <div id="results" ng-controller="Results">
    <uib-accordion close-others="false">
      <uib-accordion-group is-open="status.open">
        <uib-accordion-heading>
          <span>
            Downloads<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </span>
        </uib-accordion-heading>
        <div id="downloads" ng-controller="DownloadsCtrl as dc">
          <div class="" >
            <p>
              <a href="#"
                 title="Have the server generate a PDF for printing (this takes a minute)."
                 ng-href="{{BASE_URL + '/getpdf/' + PATH}}">Request PDF</a>
            </p>
            <div ng-show="predictionFiles.length > 0">
              <p>Results are now ready:
                <ul id="files">
                  <li ng-repeat="f in predictionFiles">
                    <a href="{{FETCH_BASE_URL}}{{f}}" target="_blank">{{f}}</a>
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </uib-accordion-group>
      <uib-accordion-group is-open="status.isFirstOpen">
        <uib-accordion-heading>
          <span>
            Graphs<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
          </span>
        </uib-accordion-heading>
        <div npact-graph-container id="graphcontainer"></div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
