<div id="resultsPage" class="contentPadding">
  <div id="printControls" >
    <button class="btn btn-form" action="#" ng-click="pageCtrl.print()"
            title="Render all graph rows on this page for printing (this takes a minute).">
      Print <span class="glyphicon glyphicon-print"></span>
    </button>
    <span ng-if="printCounter">
      <img ng-src="{{STATIC_BASE_URL}}images/spinner.gif" class="spinner"/>
      waiting on {{printCounter}} rows to finish
    </span>

    &nbsp;<a href="#" ng-click="pageCtrl.requestPDF()"
             title="Have the server generate a PDF for printing (this takes a minute)."
             class="btn md-text btn-form">Request PDF</a>&nbsp;
  </div>
  <h2><span ng-model="gc.first_page_title" contenteditable strip-br="true"></span></h2>
  <div id="status">
    <h3> Status
      <!-- This isn't working right now
           <a title="Email a report about this run to Acceleration" ng-click="email()">
             <span class="glyphicon glyphicon-envelope" style="font-size: 16px;"></span></a>
           -->
    </h3>
    <npact-msg-pane></npact-msg-pane>
  </div>
  <div id="results" ng-controller="ResultsCtrl as rc">
    <uib-accordion close-others="false">
      <uib-accordion-group is-open="rc.downloadsopen">
        <uib-accordion-heading>
          <span>
            Downloads<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': rc.downloadsopen, 'glyphicon-chevron-right': !rc.downloadsopen}"></i>
          </span>
        </uib-accordion-heading>
        <div id="downloads" ng-controller="DownloadsCtrl as dc">
          <div class="">
            <p>
              <a href="#"
                 target="_blank"
                 title="Have the server generate a PDF for printing (this takes a minute)."
                 ng-href="{{BASE_URL + '/getpdf/' + PATH}}">Request PDF</a>
            </p>
            <p><a href="{{FETCH_BASE_URL}}{{GraphConfig.filename}}">
              Original GBK: {{GraphConfig.filename}}</a></p>
            <h4 id="downloads-tracks">Tracks</h4>
            <ul >
              <li ng-repeat="tr in GraphConfig.tracks">
                <a href="{{FETCH_BASE_URL}}{{tr.filename}}">{{tr.name}}</a>
              </li>
            </ul>
            <p><a lazy-href="dc.buildGBKDownload()"
                  title="Save all currently active track ORFs as features in a GBK file"
               >All Visible Tracks in a GBK</a></p>
            <div ng-show="predictionFiles.length > 0">
              <h4 id="downloads-predictions">Prediction output files: </h4>
              <ul id="prediction-files">
                <li ng-repeat="f in predictionFiles">
                  <a href="{{FETCH_BASE_URL}}{{f}}" target="_blank">{{f}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </uib-accordion-group>

      <uib-accordion-group is-open="rc.graphsopen">
        <uib-accordion-heading>
          <span>
            Graphs<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': rc.graphsopen, 'glyphicon-chevron-right': !rc.graphsopen}"></i>
          </span>
        </uib-accordion-heading>
        <div id="graphcontainer" npact-graph-container npact-graph-scroller npact-key-handlers>
          <div ng-repeat="spec in graphSpecs track by $index"
               class="graph">
            <div npact-graph
                 id="graph_{{$index}}"
                 start-base="spec"
                 end-base="spec + config.basesPerGraph"
                 visible="visible($index)"
                 graph-options="baseOpts"
                 style="height:{{graphHeight}}px;">
            </div>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
