<div id="printConfirm" title="Ready to print?">
  <p>Printing requires rendering all the graph rows, for large genomes this may take several.</p>
  <p>This takes time roughly linear to the number of rows. Narrowing the range (start and end base) or zooming out by using a larger bases/graph will both lower the time required.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">Proceed</button>
  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>
