<div class="zoomwindow">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <span class="navbar-brand" contenteditable ng-model="zw.item.name" strip-brs="true"></span> <br>
        on <span contenteditable ng-model="zw.track.name" strip-brs="true"></span>
      </div>
      <div class="navbar-form navbar-left">
        <label>Phase</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="Phase">
          <button type="button" class="btn btn-default"
                  ng-model="zw.item.phase" uib-btn-radio="0">0</button>
          <button type="button" class="btn btn-default"
                  ng-model="zw.item.phase" uib-btn-radio="1">1</button>
          <button type="button" class="btn btn-default"
                  ng-model="zw.item.phase" uib-btn-radio="2">2</button>
          <button type="buttn"  class="btn btn-default"
                  ng-model="zw.phaseLock" uib-btn-checkbox
                  title="When locked the start and end will adjust in increments of three">
            lock</button>
        </div>
        <label>Strand</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="Phase">
          <button type="button" class="btn btn-default"
                  ng-model="zw.item.complement" uib-btn-radio="0">Direct</button>
          <button type="button" class="btn btn-default"
                  ng-model="zw.item.complement" uib-btn-radio="1">Complement</button>
        </div>
        <label>Bases</label>
        <div class="form-group">
          <input class="form-control" type="number" name="startBase" style="width:8em;"
                 min="0" max="{{gc.length}}"
                 ng-model="zw.item.start"
                 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
          <span class="small">to</span>
          <input class="form-control" type="number" name="endBase" style="width:8em;"
                 min="0" max="{{gc.length}}"
                 ng-model="zw.item.end"
                 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
        </div>
      </div>
      <div class="navbar-right">
        <ul class="nav nav-stacked">
          <li><a href="#" lazy-href="zw.buildPermalink()">
            <span class="glyphicon glyphicon-link"></span>Share</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-new-window"></span>nBLAST</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-new-window"></span>pBLAST</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row"></div>
    <div class="row graph-row">
      <div
          class="col-sm-12 graph" style="padding: 20px 10px; border: 1px dotted #333;">
        <div npact-single-graph
             id="zoomgraph"
             start-base="zw.startBase"
             end-base="zw.endBase"
             visible="true"
             graph-options="baseOpts"
             style="height:{{graphHeight}}px;">
        </div>
      </div>
    </div>
    <div class="row dna-text">
      <div class="col-sm-1" style="color: #ccc;">
        <npact-protein-translation
            start="zw.startBase" end="zw.item.start - 1" complement="zw.item.complement">
        </npact-protein-translation>
      </div>
      <div class="col-sm-10" style="padding: 10px;">
        <npact-protein-translation
            start="zw.item.start" end="zw.item.end" complement="zw.item.complement">
        </npact-protein-translation>
      </div>
      <div class="col-sm-1" style="color: #ccc;">
        <npact-protein-translation
            start="zw.item.end + 1" end="zw.endBase" complement="zw.item.complement">
        </npact-protein-translation>
      </div>
  </div>
</div>
