<div class="zoomwindow">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <span class="navbar-brand" contenteditable ng-model="data.item.name" strip-brs="true"></span> <br>
        on <span contenteditable ng-model="zw.track.name" strip-tags="true"></span>
      </div>
      <div class="navbar-form navbar-left">
        <label>Phase:</label> <span>{{data.item.phase}}</span>
        <label>Strand:</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="Phase">
          <button type="button" class="btn btn-default"
                  ng-model="data.item.complement" uib-btn-radio="0">Direct</button>
          <button type="button" class="btn btn-default"
                  ng-model="data.item.complement" uib-btn-radio="1">Complement</button>
        </div>
        <label>Bases</label>
        <div class="form-group">
          <input class="form-control" type="number" name="startBaseInp" style="width:8em;"
                 min="0" max="{{gc.length}}"
                 ng-model="startBaseInp"
                 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
          <span class="small">to</span>
          <input class="form-control" type="number" name="endBaseInp" style="width:8em;"
                 min="0" max="{{gc.length}}"
                 ng-model="endBaseInp"
                 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 600, 'blur': 0 } }">
        </div>
      </div>
      <div class="navbar-right">
        <ul class="nav nav-stacked">
          <li><a href="#" lazy-href="zw.buildPermalink()">
              <span class="glyphicon glyphicon-link"></span>Share</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-new-window"></span>nBLAST</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-new-window"></span>pBLAST</a></li>
        </ul>
      </div>
      <div class="persist buttons">
        <button ng-click="zw.save(zw.track)"> Save </button>
        <button confirmed-click="zw.cancel()"
                np-confirm-click="Are you sure you want to discard your changes?">
          Reset </button>
        <button confirmed-click="zw.delete(data.item, zw.track)"
                np-confirm-click="Are you sure you wish to remove this ORF/CDS">
          Delete </button>
      </div>
      <div class="clearer"></div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row"></div>
    <div class="row graph-row">
      <div
        class="col-sm-12 graph" style="padding: 20px 10px; border: 1px dotted #333;">
        <div npact-single-graph
             id="zoomgraph"
             start-base="startBase"
             end-base="endBase"
             extended-window="extendedWindow"
             visible="true"
             graph-options="baseOpts"
             style="height:{{graphHeight}}px;">
        </div>
      </div>
    </div>
    <div class="dna-holder row">
      <div class="zoom-nav-btn left" title="extend window left">
        &lt;
      </div>
      <div class="dna-text" style="color: #ccc; float:left; width:12%;">
        <npact-protein-translation
          item ="data.item"
          start="startBase" end="data.item.start - 1"
          extended-window="extendedWindow"
          complement="data.item.complement">
        </npact-protein-translation>
      </div>
      <div class="dna-text" style="padding: 10px; float:left; width:65%">
        <npact-protein-translation
          item="data.item"
          start="data.item.start" end="data.item.end" complement="data.item.complement">
          extended-window="extendedWindow"
        </npact-protein-translation>
      </div>
      <div class="dna-text" style="color: #ccc; float:left; width:12%">
        <npact-protein-translation
          item ="data.item"
          start="data.item.end + 1" end="endBase" complement="data.item.complement"
          extended-window="extendedWindow">
        </npact-protein-translation>
      </div>
      <div class="zoom-nav-btn right" title="extend window right">
        &gt;
      </div>
      <div class="clearer"></div>
    </div>
  </div>
</div>
