{% extends "base.html" %}
{% block title %}N-PACT - N-Profile Analysis Computational Tool{% endblock %}

{%block content %}
				<h2 id="secHeader" title="N-PACT - N-Profile Analysis COmputational Tool Home"><span></span>N-Profile Analysis Computational Tool Home</h2>
				<h3>About the N-Profile Analysis Computational Tool</h3>

<div class="contentPadding">
				<p>You reached a version under development of N-PACT. N-PACT provides: (1) a genome-scale visual representation of sequence compositional properties for the identification of protein-coding sequences in relation to published annotation and, by default, position of high-scoring-segments (HSSs) of significant compositional contrast and corresponding gene predictions using the method of Oden and Brocchieri (<a href="">in preparation</a>). </p>
				<p>The N-PACT server produces a (multi-page) PostScript file for frame analysis (<a href="http://www.sciencedirect.com/science/article/pii/0378111984901161">Bibb et al. 1984</a>) representing profiles of GC content in three frames (<a href="http://www.bioinformatika.pbf.hr/Articles/FramePlot.pdf">Ishikawa and Hotta 1999</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/15919911">Brocchieri et al. 2005</a>), published gene annotation when available, high-scoring segments and new gene predictions.</p>
				<h4>Getting Started</h4>
				<p>To start the analysis click "Run N-Profile Analysis" at the upper-right corner, input sequence file, click "Start Analysis!", choose parameters, and finally click "Get Analysis!". The program accepts as input a GenBank-formatted sequence text file, which has to minimally include one line starting with the word ORIGIN, followed by lines providing the nucleotide sequence in lower or upper case. All alphabetic characters are interpreted as sequence, and all non-alphabetic characters are ignored. ALl annotated coding sequences are read from the file before reachin the line ORIGIN, according to the GenBank format, from " CDS " lines. Gene names are identified from the first encounter of any of the fields "gene" (first choice) or "locus_tag" (second choice).</p>
				<p>m.</p>
				<ul>
					<li>List Item 1</li>
					<li>List Item 2</li>
					<li>List Item 3</li>
					<li>List Item 4</li>
				</ul>
</div>
{%endblock content %}
