{% extends "base.html" %}
{% block title %}N-PACT - N-Profile Analysis Computational Tool{% endblock %}

{%block content %}
<h2 id="secHeader" title="N-PACT - N-Profile Analysis Computational Tool Home"><span></span>N-Profile Analysis Computational Tool Home</h2>
				<h3>About the N-Profile Analysis Computational Tool</h3>

<div class="contentPadding">
The computation is currently running.
<script type="text/javascript">
  var kickoffurl = "{{ path }}";

  function onsuccess(data){
     if(data.next=='results'){
       window.location(data.url)
     }
     else {
       //data.pt looks like '{"step_num": 1, "tdiff": 10.32341, "step_desc": "a step description."}'

       updateDisplay()
       startNextAjax()
     }
  }
</script>

</div>
{%endblock content %}
