{% extends "base.html" %}
{% load media %}
{% block title %}NPACT - Management{% endblock %}

{% block addScript %}
{% include_media 'jquery.js' %}
<script type="text/javascript">
</script>
{% endblock %}

{%block content %}
<div class="contentPadding">
  <h2>NPACT - Management</h2>
  <form  method="POST">
    {% csrf_token %}
    <h3>Taskqueue daemon</h3>
    <div>
      <p>This is the background working daemon in which the heavy lifting takes place.</p>
      <p>Current status: <span class="orange-text">{{daemon_status}}</span></p>
      <ul>
        {% if daemon_status == 'stopped' %}
        <li><button type="submit" name="action" value="start-daemon">Start Daemon</button></li>
        {% else %}
        <li><button type="submit" name="action" value="restart-daemon">Restart Daemon</button></li>
        {% endif %}
        <li><button type="submit" name="action" value="kill-daemon">Kill any daemon processes</button></li>
      </ul>
    </div>
    <h3>Cleanup</h3>
    <div>
      <p>This needs to be done from time to time to help prevent disk space usage from going crazy</p>
      <p>
        <label>Cleanup files older than:
          <input type="text" name="days" size="2" value="{{settings.ATIME_DEFAULT}}"/> days.
        </label>
        <button type="submit" name="action" value="cleanup">Run Cleanup</button>
      </p>
    </div>
    <div>
      <label>Cleanout library:</label>
      <button type="submit" name="action" value="clear-library">Clear Library</button>
    </div>
  </form>

</div>
{%endblock content %}
