{% extends "base.html" %}
{% block title %}NPACT - N-Profile Analysis Computational Tool{% endblock %}

{% block addScript %}
<script src="{{ url_for('static', filename='css/custom-theme/jquery-ui.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/qtip2/jquery.qtip.min.js')}}"></script>
<script type="text/javascript">
$(function(){
    console.log("Startup");
    $('button').button()
    if( $("#accordion > *").length > 1) {
        $("#accordion").accordion({ header: "h3", clearStyle: false,
                                    autoHeight:false,
                                    active: "h3.active"});
    }

});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
       results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

$(document).ready(function() {
    $('#startforms div').hide();
    var selectform = function(index) {
        jQuery('#startforms div').hide();
        jQuery('#form-'+index).slideDown();
        jQuery('#selectors button').removeClass('force-active');
        jQuery('#btn-'+index).addClass('force-active');
    }
    $('#selectors button').on('click', function(evt) {
        var index = jQuery(evt.target).parent().data('target');
        selectform(index);
    });
    var active = getParameterByName('active');
    if(active) {
        selectform(active);
    }
});
</script>
{% endblock %}

{% block content %}
<div class="contentPadding">
  <h2>NPACT - N-Profile Analysis Computational Tool (Prokaryotes)</h2>
  <img src="{{ url_for('static', filename='images/dna.jpg') }}" alt="N-Profile Genbank Analysis Computational Tool image" style="margin:0 0 5px 8px; width:98%" />
  <p>For quantitative frame-analysis and identification of ORFs with statistically-significant 3-base periodicities in <b> prokaryotic sequences </b> NPACT is currently accepting sequence files in the GenBank format (see a <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">sample record</a> or the <a href="/about">About</a> page).</p>
  <p>After seleting a sequence file, "Start Analysis!" will result in a graphical output showing sequence compositional contrasts for frame analysis, coding region (CDS) annotation from the input file, and, by default, regions of non-random 3-base compositional periodicity (hits), newly-identified or modified ORFs, and corresponding output text files.  </p>

  <p class="orange-text">The NPACT server can process uploaded files, files fetched from a url, or
    genbank data pasted directly in. <strong>Only one of the  following is neccessary</strong>.</p>
  <input type="hidden" name="selected" value="" id="selected"/>
 
  <div id="selectors" style="margin-bottom: 15px;">
    <button data-target="upload" id="btn-upload">File Upload</button>
    <button data-target="url" id="btn-url">From URL</button>
    <button data-target="pastein" id="btn-pastein">Paste in as text</button>
    <button data-target="number" id="btn-number">Accession Number</button>
  </div>
  <div id="startforms">
    <div id="form-upload">
      <form method="post" action="#" enctype="multipart/form-data">
        <button class="ui-button btn-file" title="Select a file for upload">Choose File</button><span class="button-message">No file selected</span>
        <p>Email me the results @ <input id="email" name="email" type="email">(optional)</p>
        <button class="Start ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" name="action" value="run" title="Get the analysis results based on default configuration." role="button">
          <span class="ui-button-text">Start Analysis!</span>
        </button>
      </form>
    </div>
    <div id="form-url">
      <form method="post" action="#" enctype="multipart/form-data">
        <label>Url:
          <input id="url" name="url" type="url" value="">
        </label>
        <br>
        <label>Email me the results @ <input id="email" name="email" type="email">(optional)</label>
        <br>
        <button class="Start ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" name="action" value="run" title="Get the analysis results based on default configuration." role="button">
          <span class="ui-button-text">Start Analysis!</span>
        </button>
      </form>
    </div>
    <div id="form-pastein">
      <input type="hidden" name="action" value="pastein">
      <form method="post" action="#" enctype="multipart/form-data">
        <textarea id="pastein" name="pastein" rows="4"></textarea>
        <p>Email me the results @ <input id="email" name="email" type="email">(optional)</p>
        <button class="Start ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" name="action" value="run" title="Get the analysis results based on default configuration." role="button">
          <span class="ui-button-text">Start Analysis!</span>
        </button>
      </form>
    </div>
    <div id="form-number">
      <form method="post" action="#" enctype="multipart/form-data">
        <input id="entrez_search_term" name="entrez_search_term" type="search" value="">
        <p>Email me the results @ <input id="email" name="email" type="email">(optional)</p>
        <button class="Start ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" name="action" value="run" title="Get the analysis results based on default configuration." role="button">
          <span class="ui-button-text">Start Analysis!</span>
        </button>
      </form>
    </div>
  </div>

  <br/>
  <p id="start-over">
    <a href="">&laquo; Start Over</a>
  </p>
</div>
{% endblock content %}
