{% extends "base.html" %}
{% block title %}NPACT - N-Profile Analysis Computational Tool{% endblock %}

{% block addScript %}
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/custom-theme/jquery-ui.min.js')}}">
<script src="{{ url_for('static', filename='bower_components/qtip2/jquery.qtip.min.js')}}">
<script type="text/javascript">
  $(function(){
    $('button').button()
    if( $("#accordion > *").length > 1) {
      $("#accordion").accordion({ header: "h3", clearStyle: false,
                                  autoHeight:false,
                                  active: "h3.active"});
    }

  });
</script>
{% endblock %}

{% block content %}
<div class="contentPadding">
  <h2>NPACT - N-Profile Analysis Computational Tool (Prokaryotes)</h2>
  <img src="{{ url_for('static', filename='images/dna.jpg') }}" alt="N-Profile Genbank Analysis Computational Tool image" style="margin:0 0 5px 8px; width:98%" />
  <p>For quantitative frame-analysis and identification of ORFs with statistically-significant 3-base periodicities in <b> prokaryotic sequences </b> NPACT is currently accepting sequence files in the GenBank format (see a <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html">sample record</a> or the <a href="/about">About</a> page).</p>
  <p>After seleting a sequence file, "Start Analysis!" will result in a graphical output showing sequence compositional contrasts for frame analysis, coding region (CDS) annotation from the input file, and, by default, regions of non-random 3-base compositional periodicity (hits), newly-identified or modified ORFs, and corresponding output text files.  </p>

  <p class="orange-text">The NPACT server can process uploaded files, files fetched from a url, or
    genbank data pasted directly in. <strong>Only one of the  following is neccessary</strong>.</p>

  <input type="hidden" name="selected" value="" id="selected"/>
  <form method="post" action="/npact" enctype="multipart/form-data">
    <div id="accordion">
      {% for field in form %}
      {% if field.name in form.accordion_fields %}
      <div>
        <h3 {% if field.html_name == form.active %}class="active"{% endif %}>
          <a name="#"> {{ field.label_tag }} </a>
        </h3>
        <div>
          {{ field.errors }}
          {{ field }}
          {% if field.html_name == 'entrez_search_term' %}
          {% include "start/EntrezSearchForm.html" %}
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
<br/>
    <p class="blue-text" style="padding-left:15px;">
      <strong style="font-size:15px;">Email me the results @</strong> (optional) 
    </p>
    <button class="Start" type="submit" name="action" value="run" 
            title="Get the analysis results based on default configuration.">
      Start Analysis!
    </button>
  </form>
  <br/>
  <p id="start-over">
    <a href="">&laquo; Start Over</a>
  </p>
</div>
{% endblock content %}
