* {
margin:0;
padding:0;
}

body {
background:#fff url(../images/bg.jpg) repeat-x;
text-align:center;
}

a {
text-decoration:none;
}

a:link,a:visited {
color:#0021a5;
}

a:hover,a:active {
color:#ff4a00;
}

acronym {
border:0;
font-style:normal;
}

h1#dept {
position: relative;
height: 40px;

font-size: 14px;
/* \*/
overflow: hidden;
/* */
}

h1#dept a {
   color: white;
   line-height:160%;
   font-family: Century Gothic;
   font-size: larger;
}

h1#dept a span {
position: absolute;
top: 0;
left: 0;
display: block;
background: url(../images/unitHeader.gif);
width: 100%;
height: 100%;
cursor: hand;
}

h2#uf{
font-size: 1px;
width: 181px;
height: 40px;
top:0;
left: 590px;
position: absolute;
/*\*/overflow: hidden;
font-size: 14px;/**/
}

h2#uf a span{
background-image: url(../images/universityOfFlorida.gif);
top:0;
left:0;
display:block;
position: absolute;
width: 181px;
height: 40px;
font-size: 1px;
cursor: pointer;
}

h3,h4 {
font-weight:400;
}

p,li,td,dd,dt {
color:#444;
font-size:70%;
}

th { color:#222; font-size: .75em; }

th,td { padding: 3px; }

ul {
list-style:none;
}

.contentPadding { padding: 5px; }


#content {
background:#FFF url(../images/bg_priNav.jpg) repeat-x;
float:right;
position:relative;
width:516px;
z-index:5;
min-height: 376px;
padding-top: 2px;
}

#content h2 { margin:5px 0 0 8px; }
#content h3 { /*font-size:125%;  margin:5px 0 0 12px; */}
#content h2 + h3 { margin-top: 2px; }

#content h4 {
color:#000;
font:normal 85% Trebuchet MS, Arial, Helvetica, sans-serif;
}

#content ul {
margin: 10px;
}

#content li {
line-height: 110%;
list-style:disc;
margin:6px 0 6px 25px;
}

#content li li {
padding:0 5px 0 20px;
}

#content p {
line-height:17px;
margin:2px 10px 15px 13px;
}

#content p a {
border-bottom:1px dashed #0021A5;
}

#content p a:link,#content p a:visited {
color:#24b;
}

#content p a:hover,#content p a:active {
color:#f40;
}

#content p#listing {
letter-spacing:-1px;
padding-top:15px;
text-align:center;
}

#content ul {
margin:15px;
}

#footer {
background-color:#fff;
border-top:1px solid #d1d1d1;
clear:both;
color:#999;
height:50px;
padding:10px 0 25px;
position:relative;
}

#footer li {
border-right:1px solid #ccc;
display:inline;
/*\*/float:left;/**/
font-size:100%;
margin-right:4px;
padding-right:4px;
}

#footer ul,#footer p {
clear:both;
float:left;
font-size:60%;
line-height:1.4em;
width:550px;
}

/*\*/#footerHome span {
background:url(http://images.webadmin.ufl.edu/signatures/UF-Signature-Themeline.gif) 0 0 no-repeat;
height:54px;
position:absolute;
right:0;
top:10px;
width:195px;
}/**/

#header {
height:41px;
margin:0 auto;
position:relative;
text-align:left;
width:772px;
}

#mainContainer {
background:#fff url(../images/bg_mainContainer.gif) 253px 0 repeat-y; 

margin:0 auto;
padding:0 2px;
position:relative;
text-align:left;
width:768px;
}

/* \*/* html #mainContainer {
background-position: 249px 0;
}/* */

#leftCol {
background:url(../images/bg_priNav.jpg) repeat-x;
left:0;
padding:3px 2px 0;
position:absolute;
top:0;
width:250px;

}

#priNav h2,#footer h3 {
display:none;
}

#priNav h3 {
background:url(../images/pointer.gif) no-repeat 0 11px;
font:normal 115% Trebuchet MS, Arial, Helvetica, sans-serif;
letter-spacing:1px;
}

#priNav li {
font:125%/18px 'Trebuchet MS', verdana, geneva, Arial, Helvetica, sans-serif;
}

#priNav li a,#priNav #active {
background:url(../images/pointer.gif) no-repeat 10px 11px;
border-bottom:1px solid #e6e6e6;
color:#0021a5;
display:block;
letter-spacing:1px;
padding:7px 0 6px 20px;
width:230px;
}

/*\*/* html #priNav li a, * html #priNav #active{
width:248px;
}/**/

#priNav #active {
color: #000;
}

#priNav li a:hover {
background-color:#CFD5EE;
}

#related {
padding:32px 8px 0;
width:230px;
}

#related h3 {
color:#111;
font-size:75%;
font-style:italic;
padding:4px 0 0 10px;
text-transform:uppercase;
}

#related h4 {
background:url(../images/pointer_small.gif) no-repeat 0 13px;
clear:left;
letter-spacing:1px;
padding:7px 0 3px 10px;
}

#related li {
padding-right:2px;
}

* html #related li {
float:none;
}

#related ul {
float:left;
padding:0 0 5px 10px;
width:228px;
}


/* ### section header image ### */

/* margin accounts for content padding */
h2#secHeader { margin:-2px 0 0; }

#secHeader {
height:194px;
margin-bottom:14px;
position:relative;
width:516px;
}

#secHeader span {
height:100%;
position:absolute;
width:100%;
}


dt { font-weight: bold; margin-top:4px;}
dd { margin-left: 8px; }

textarea { width: 100%; }
#content .ui-accordion-content p { margin: 0; }

.helptext {font-size: 0.8em; float:right; }

#content label { float:left; text-align: right; clear:left; }
#content input, #content select { margin-left: 6px; float:left; }

ul.errorlist li { color:red; }

button.Start { clear:both; margin: 8px;}

.helptext {display:none;}
